<div id="shopping-bag-wrapper">
  <div id="products-wrapper">
    <div id="products-header">
      <span>YOUR SHOPPING BAG</span>
      <span>[{{shoppingBag.length}}]</span>
    </div>
    <div id="product-wrapper" *ngFor="let shoppingBagProduct of shoppingBag; let i = index">
      <div id="product">
        <img id="product-main-photo" [src]="shoppingBagProduct.product.productInfo.images[0].file"/>
        <div id="product-name">{{shoppingBagProduct.product.name}}</div>
        <div id="product-price">{{shoppingBagProduct.product.price}} zł</div>
        <div class="product-info">COLOR: {{shoppingBagProduct.product.productInfo.color}}</div>
        <div class="product-info">SIZE: {{shoppingBagProduct.size}}</div>
        <div class="product-info">QUANTITY: {{shoppingBagProduct.quantity}}</div>
        <div class="product-actions">Edit</div>
        <div class="product-actions">Move To Wishlist</div>
        <div class="product-actions">Remove</div>
      </div>
    </div>
  </div>
  <div id="order-wrapper">
    <div id="order-summary-wrapper">
      <div id="order-summary">YOUR ORDER SUMMARY</div>
      <div class="money-wrapper">
        <div>SUBTOTAL</div>
        <div>0 zł</div>
      </div>
      <div class="money-wrapper">
        <div>SHIPPING</div>
        <div>0 zł</div>
      </div>
      <div class="money-wrapper">
        <div>TOTAL (VAT INCLUDED)</div>
        <div>0 zł</div>
      </div>
      <button id="button-checkout">CHECKOUT SECURELY</button>
      <div id="order-help">
        <ul>
          <li class="order-help-item">
            <a href="#">NEED HELP WITH YOUR ORDER?</a>
          </li>
          <li class="order-help-item">
            <a href="#">SHIPPING METHODS</a>
          </li>
          <li class="order-help-item">
            <a href="#">RETURNS</a>
          </li>
          <li class="order-help-item">
            <a href="#">SECURE PAYMENT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
