<div id="nav-wrapper">
  <nav>
    <div id="home-nav-wrapper">
      <button id="button-home">shop</button>
      <div id="search-bar-wrapper">
        <input id="search-bar" type="text" placeholder="Hello, how can I help you today?">
        <button id="button-search" type="submit">
          <img src="assets/magnifyingglass.webp">
        </button>
      </div>
    </div>
    <div id="category-nav-wrapper">
      <ul id="nav-categories">
        <li>
          <button class="button-category">new arrivals</button>
        </li>
        <li>
          <button class="button-category">shop man</button>
        </li>
        <li>
          <button class="button-category">shop woman</button>
        </li>
        <li>
          <button class="button-category">shop kids</button>
        </li>
        <li>
          <button class="button-category">special items</button>
        </li>
        <li>
          <button class="button-category">homeware</button>
        </li>
      </ul>
    </div>
    <div id="aside-wrapper">
      <aside>
        <ul id="aside-menu">
          <li>
            <a href="#">log in</a>
          </li>
          <li>
            <a href="#">wishlist [0]</a>
          </li>
          <li>
            <a href="#">shopping bag [0]</a>
          </li>
          <li>
            <a href="#">customer service</a>
          </li>
          <li>
            <a href="#">newsletter</a>
          </li>
          <li>
            <a href="#">pl zł /english</a>
          </li>
        </ul>
      </aside>
      <div id="shop-feed-wrapper">
        <div>
          shop feed
        </div>
        <div>
          00:00AM
        </div>
        <div>
          0 / 0
        </div>
      </div>
    </div>
  </nav>
</div>
