#login-page-wrapper {
  display: inline-flex;
}

#sign-in-wrapper {
  margin-left: 20px;
  margin-right: 150px;
  width: 440px;
}

.sign-register-header {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 11px;
  margin-bottom: 15px;
}

.form-option {
  margin-bottom: 20px;
}

.form-option label {
  color: grey;
  font-size: 9px;
}

.input-text {
  background-color: cornsilk;
  border: 0px;
  border-radius: 4px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  height: 45px;
  padding-left: 13px;
  vertical-align: center;
  width: 100%;
}

.input-text:focus {
  outline: none;
}

#form-checkbox-login label {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  margin-left: 5px;
  text-transform: none;
}

#password-reset {
  float: right;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 11px;
  text-decoration: underline;
  text-transform: none;
}

#password-reset:hover {
  cursor: pointer;
  text-decoration: none;
}

.form-submit {
  background-color: crimson;
  border: 0px;
  border-radius: 3px;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.7rem;
  margin-top: 25px;
  padding: 8px 13px;
  text-transform: uppercase;
}

.form-submit:hover {
  background-color: chocolate;
  cursor: pointer;
  text-decoration: underline;
}

#register-wrapper {
  width: 440px;
}

#select-gender {
  background-color: cornsilk;
  border: 0px;
  border-radius: 4px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  height: 45px;
  padding-left: 13px;
  vertical-align: center;
  width: 103%;
}

#select-gender:focus {
  outline: none;
}

#select-country {
  background-color: cornsilk;
  border: 0px;
  border-radius: 4px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  height: 45px;
  padding-left: 13px;
  vertical-align: center;
  width: 103%;
}

#select-country:focus {
  outline: none;
}

#date-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-piece {
  background-color: cornsilk;
  border: 0px;
  border-radius: 4px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  height: 45px;
  padding-left: 13px;
  vertical-align: center;
  width: 142px;
}

#form-checkbox-newsletter {
  margin-top: 32px;
}

#form-checkbox-newsletter label {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  margin-left: 5px;
  text-transform: none;
}

#terms-and-conditions {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 11px;
  line-height: 1.3;
  margin-bottom: 10px;
  margin-top: 40px;
  text-transform: none;
  word-spacing: 0px;
}

#terms-and-conditions a {
  color: black;
  text-decoration: underline;
}

#terms-and-conditions a:hover {
  text-decoration: none;
}

