<div id="login-page-wrapper">
  <div id="sign-in-wrapper">
    <div class="sign-register-header">SIGN IN TO YOUR ACCOUNT</div>
    <form id="form-login">
      <div class="form-option">
        <input class="input-text" type="email" placeholder="Email Address">
      </div>
      <div class="form-option">
        <input class="input-text" type="password" placeholder="Password">
      </div>
      <div id="form-checkbox">
        <input type="checkbox" id="stay-signed-in">
        <label for="stay-signed-in">Stay signed in</label>
        <div id="password-reset">I forgot my password</div>
      </div>
    </form>
    <button id="form-login-submit" type="submit" form="form-login" value="Submit">SIGN IN</button>
  </div>
  <div id="register-wrapper">
    <div class="sign-register-header">REGISTER A NEW ACCOUNT</div>
  </div>
</div>
