<div id="procucts-wrapper">
  <div *ngFor="let product of products; let i = index">
    <div id="product-info-wrapper">
      <div class="product-info">{{product.name}}</div>
      <div class="product-info">[{{product.id}}]</div>
    </div>
    <a [routerLink]="['/product', product.id]">
      <img id="product-main-photo" [src]="product.productInfo.images[0].file"/>
    </a>
    <div id="product-additional-info-wrapper">
      <div class="product-info">{{i}}</div>
      <div class="product-info">{{product.productInfo.collection}}</div>
    </div>
  </div>
</div>

