#footer-wrapper {
  float: left;
  margin-top: 200px;
  width: 100%;
}

footer {
  margin-left: 20px;
  margin-right: 20px;
}

#footer-left-wrapper {
  float: left;
}

#contact-us-and-help {
  display: block;
  font-size: 11px;
}

#contact-us-and-help ul {
  letter-spacing: 0rem;
  list-style-type: none;
  margin: 30px 0px;
  padding: 0px;
  text-decoration: none;
  word-spacing: 4px;
}

#contact-us-and-help ul li a {
  color: black;
  text-decoration: none;
}

#contact-us-and-help ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#site-adress {
  float: left;
  font-size: 11px;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 15px;
  text-transform: none;
}

#site-address a {
  color: black;
  text-decoration: underline;
}

#site-address a:hover {
  text-decoration: none;
}

#newsletter {
  float: right;
  font-size: 11px;
  margin-top: 50px;
  letter-spacing: 1px;
  line-height: 1.3;
  text-transform: none;
  width: 380px;
  word-spacing: 2px;
}

#newsletter span{
  margin-right: 20px;
}

.form-option {
  margin-bottom: 20px;
}

.form-option label {
  color: grey;
  font-size: 9px;
}

#newsletter form {
  margin-top: 30px;
  margin-right: 20px;
}

#input-email {
  border-bottom: solid 1px;
  border-color: black;
  border-left: 0px;
  border-radius: 5px;
  border-right: 0px;
  border-top: 0px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  padding-bottom: 15px;
  width: 100%;
}

#input-email:focus {
  outline: none;
}

#select-country {
  border-bottom: solid 1px;
  border-color: black;
  border-left: 0px;
  border-radius: 5px;
  border-right: 0px;
  border-top: 0px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  padding-bottom: 15px;
  width: 100%;
}

.form-option span {
  font-size: 10px;
  padding-left: 5px;
  margin-right: 10px;
}

#privacy-policy {
  margin-top: 40px;
}

#privacy-policy a {
  color: black;
  text-decoration: underline;
}

#privacy-policy a:hover {
  text-decoration: none;
}

#form-submit {
  background-color: springgreen;
  border: 0px;
  border-radius: 3px;
  color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.7rem;
  margin-top: 25px;
  padding: 8px 13px;
  text-transform: uppercase;
}

#form-submit:hover {
  background-color: aquamarine;
  cursor: pointer;
  text-decoration: underline;
}
