<div id="footer-wrapper">
  <footer>
    <div id="footer-left-wrapper">
      <div id="contact-us-and-help">
        <ul>
          <li>
            <a href="#">contact us</a>
          </li>
          <li>
            <a href="#">faqs</a>
          </li>
          <li>
            <a href="#">shipping & return</a>
          </li>
          <li>
            <a href="#">payment methods</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">track your order</a>
          </li>
          <li>
            <a href="#">guest returns</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">terms & conditions</a>
          </li>
          <li>
            <a href="#">accessibility</a>
          </li>
          <li>
            <a href="#">privacy & cookie policy</a>
          </li>
        </ul>
      </div>
      <div id="site-address">
        © Clothing-Store™. All rights reserved. <a href="#">Privacy Policy</a>.
      </div>
    </div>
    <div id="newsletter">
      <span>Sign up to our newsletter to receive information regarding exclusive collection previews, special events, and seasonal sale offers.</span>
      <form id="form">
        <div class="form-option">
          <input id="input-email" type="email" placeholder="Email Address">
        </div>
        <div class="form-option">
          <label>Country</label>
          <select id="select-country" name="country">
            <option value="Poland">Poland</option>
          </select>
        </div>
        <div class="form-option">
          <label class="radio-container">
            <input type="radio">
          </label>
          <span>WOMENSWEAR</span>
          <label class="radio-container">
            <input type="radio">
          </label>
          <span>MENSWEAR</span>
        </div>
      </form>
      <div id="privacy-policy">
        By registering you agree to accept the <a href="#">Terms & Conditions</a> and have read the <a href="#">Privacy Policy</a>.
      </div>
      <button id="form-submit" type="submit" form="form" value="Submit">Submit</button>
    </div>
  </footer>
</div>
